@charset "UTF-8";
/*tamaño de fuente
propiedade sde lafaja
info de colgroup
gradientes*/
.m0p0 {
  margin: 0;
  padding: 0;
}

.margent20 {
  margin-top: 20px;
}

.margenb20 {
  margin-bottom: 20px;
}

.padl10 {
  padding: 0px 10px;
}

.padl20 {
  padding: 0px 20px;
}

.bg-negro {
  background-color: black;
}

.titulo-primario, .main-servicios-titulo-primario {
  font-size: 40px;
  color: chocolate;
  font-family: sans-serif;
  margin: 10px 0px;
}

.titulo, .main-servicios-titulo {
  font-size: 30px;
  color: chocolate;
  font-family: sans-serif;
  margin: 20px 0px;
}

.texto, .nosotros-texto, .main-texto {
  font-size: 20px;
  color: darkblue;
  font-family: sans-serif;
}

.d-flex {
  display: flex;
}

.alinea-v, .nosotros-texto {
  align-items: center;
}

.alinea-h {
  justify-content: center;
}

.tamaño-img-1, .flota-helicoptero {
  width: 40rem;
  height: 25rem;
}

.tamaño-img-2, .flota-aviones, .servicios-desktop-img {
  width: 27rem;
  height: 15rem;
}

/*ANIMACIONES*/
.header-logo-animacion {
  -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.header {
  background-color: black;
}

.header-logo {
  font-size: 3rem;
}

.header-logo span {
  color: red;
}

.color-hamburger {
  background-color: #4e4e4e;
}

/*soy index*/
.color1 {
  background-color: #bcc6d3;
}

.color2 {
  background-color: #aedfee;
}

.btn-mvv-h {
  width: 5.5rem;
}

.nosotros-mvv-caja {
  border: 1px solid black;
  border-radius: 5px;
}

.nosotros-mvv-img {
  height: 25rem;
  object-fit: cover;
}

.fondo--img {
  background-image: url("../../image/contacto/backgroud.jpg");
  background-size: cover;
}

.main-contacto-par {
  font-size: 20px;
  color: darkblue;
}

.main-contacto-formulario {
  border: 1px solid darkgray;
  border-radius: 10px;
}

.main-contacto-formulario-elementosmbmt {
  margin: 20px 0;
}

.main-contacto-formulario-elementosmb {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .navbar--activa {
    background-color: gray;
  }
}

@media (max-width: 320px) {
  .titulo-primario, .main-servicios-titulo-primario {
    font-size: 20px;
  }
  .titulo, .main-servicios-titulo {
    font-size: 18px;
  }
}
