.logo-header{
    font-size: 3rem;
    
}
.logo-header span{
    color: red;
}

/*nosotros*/
.btn-mvv-h{
    width:5.5rem ;
}


/* FLOTA*/

.img--zise--h{
    width:22rem ;
    height:15rem ;
}

.img--zise--a{
    width: 15;
    height:10 ;
}




@media (min-width: 768px) { 
    .navbar--activa{
        background-color: gray;
    }
}
