@media (min-width: 768px) { 
    .navbar--activa{
        background-color: gray;
    }
}

@media (max-width: 320px) { 
    .titulo-primario{
        font-size: 20px;
    }

    .titulo{
        font-size: 18px;
    }
}