.m0p0{
    margin: 0;
    padding: 0;
}

.margent20{
   margin-top: 20px;
}
.margenb20{
    margin-bottom: 20px;
}

.padl10{
    padding: 0px 10px;
}

.padl20{
    padding: 0px 20px;
}

.bg-negro{
    background-color: $negro;
}

.titulo-primario{
    font-size: $tamano-titulo-primario;
    color: $color-titulo-primario;
    font-family: 'Jost', sans-serif;
    margin: 10px 0px;

}

.titulo{
    font-size: $tamano-titulo ;
    color: $color-titulo;
    font-family: 'Roboto', sans-serif;
    margin: 20px 0px ;
}

.texto{
    font-size: $tamaño-textos;
    color: $color-textos;
    font-family: $fuente-textos;
}

.d-flex{
    display:flex
}

.alinea-v{
    align-items: center;
}

.alinea-h{
    justify-content: center;
}

.tamaño-img-1{
    width:40rem ;
    height:25rem ;
}

.tamaño-img-2{
    width: 27rem;
    height:15rem ;
}