$tamano-titulo-primario:40px;
$color-titulo-primario:  rgb(210, 105, 30)  ;
$fuente-titulo-primario:  sans-serif;

$tamano-titulo:30px;
$color-titulo:  rgb(210, 105, 30)  ;
$fuente-titulo:  sans-serif;


$tamaño-textos: 10px  ;
$color-textos:  rgb(0, 0, 139)  ;
$fuente-textos:  sans-serif ; 

$negro: rgb(0, 0, 0) ;
$rojo: rgb(255, 0, 0) ;
$gris: rgb(169, 169, 169);
$blanco:rgb(255, 255, 255) ;


$color-fondo-1: rgb(188, 198, 211);
$color-fondo-2: rgb(174, 223, 238)






/*tamaño de fuente
propiedade sde lafaja
info de colgroup
gradientes*/
